
  <footer class="footer py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 text-lg-left"></div>
        <div class="col-lg-4 my-3 my-lg-0">
          <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/le_geit_studio?igshid=y9z4gpco4cmx"><i
              class="fab fa-instagram fa-lg"></i></a><a class="btn btn-dark btn-social mx-2"
            href="https://www.facebook.com/untouchables.yanyoo"><i class="fab fa-facebook-f fa-lg"></i></a>
        </div>
      </div>
    </div>
  </footer>