/* .spinner {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  height:60px;
  width:60px;
  margin:0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
} */
/*------------------------------------*\
    ##Loading
\*------------------------------------*/


/* Absolute Center CSS Spinner */
.u-loading {
  display: none;
  position: fixed;
  top: 50%;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 9999;
}


.u-loading:not(:required):after {
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: visible;
  position: relative;
  content: '';
  display: inherit;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.u-border-all {
  border: solid black 2px;
}

.image-resize {
  max-width: 100%;
  width: 225px;
}

.button-width {
  width: 70%;
}

.count-input {
  width: 50%;
}

#uploadError {
  color: red;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid red;
}

html {
  width: 100vw;
  overflow-x: scroll;
}

.entry {
  max-width: 200px;
  padding: 0.5em;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #212529;
}

.navcart {
  color: #212529;
}

.navcart:hover {
  color: grey;
}

#mainNav .navbar-nav .nav-item.nav-item.active .nav-link,
#mainNav .navbar-nav .nav-item.nav-item:hover .nav-link {
  color: red;
}

#mainNav .navbar-toggler {
  background-color: #212529;
}

.homePageItemTitleFonts {
  font-size: medium;
}

.carousel-inner > .item {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

#homePage #carousel-button {
  bottom: 0px;
  right: -50%;
}

.fa-lg {
  vertical-align: -0.1em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.legeit {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 15%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#mainNav {
  padding: 0;
  background-color: #ffffff;
  height: 10%;
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: -24px;
}

nav .container {
  max-width: 70%;
}

.carouselSizing {
  width: 90%;
  margin-left:  5%;
  margin-right: 5%;
}



@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .picture-gallery {
    margin-left: 10%;
    margin-right: 10%;
  }
  #carouselExampleIndicators {
    width: 80%;
    margin-left: 10%;
  }

  #carouselExampleIndicators2 {
    width: 80%;
    margin-left: 10%;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .image-resize {
  }

  .portfolio-item {
    width: 50%;
  }

  .count-input {
    border-style: ridge;
    width: 40%;
  }

  #sizing {
    border-style: ridge;
    width: 77%;
  }

  #carousel-button {
    bottom: 0px;
    right: -50%;
  }

  #carousel-button a {
    border: 2px solid;
    font-size: 13px;
  }

  .legeit {
    width: 80%;
    margin-left: 10%;
  }
}


#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

.wrapper{
  position: relative;
  }

  .wrapper span{
    position: absolute;
    top: -2px;
    right: -2px; 
    }

    .divider {
      display: inline-block;
      border-bottom: gray 1px solid;
      margin-left: 5%;
      margin-right: 5%;
      width: 33%;
    }