.image-resize {
  max-width: 100%;
  width: 225px;
}

.button-width {
  width: 70%;
}

#uploadError {
  color: red;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid red;
}

html {
  width:100vw;
 overflow-x: scroll;
}

.entry { max-width: 200px; padding: .5em; }

#mainNav .navbar-nav .nav-item .nav-link {
  color: #212529;
}

.navcart {
  color: #212529;
}

.navcart:hover {
  color: grey;
}

#mainNav .navbar-nav .nav-item.nav-item.active .nav-link,
#mainNav .navbar-nav .nav-item.nav-item:hover .nav-link {
  color: red;
}

#mainNav .navbar-toggler {
  background-color: #212529;
}

#carouselExampleIndicators {
  width: 80%;
  margin-left: 10%;
}

#homePage #carousel-button{
  bottom: 0px; 
  right: -50%;
}

.fa-lg {
  vertical-align: -0.1em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.legeit {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}



#mainNav {
  position: inherit;
  background-color: #ffffff;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .picture-gallery {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .image-resize {
  }

  .portfolio-item {
    width: 50%;
  }

  .count-input {
    border-style: ridge;
    width: 30px;
  }

  #sizing {
    border-style: ridge;
    width: 50%;
  }

  #carousel-button {
    bottom: 0px;
    right: -50%;
  }

  #carousel-button a {
    border: 2px solid;
    font-size: 13px;
  }

  .legeit {
    width: 80%;
    margin-left: 12%;
  }
}
